/* styles.css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  #result {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  #result h4 {
    color: #333;
    text-align: center;
  }
  